body{
	background-image:url("../image/pic3.jpg");
}

h1{
	text-align:center;

}
#image{
	text-align:center;
	margin:0px 50px 0px 50px;
	position:relative;
	width:90%;
	height:500px;
}
div{
	background-color:white;
	border-style:solid;
	border-width:2px;
	border-color:black;
	border-radius:20px;
	text-align:center;
	margin:0px 200px 70px 200px;
	padding:0px;
}

#links{
	text-align:center;
	display:inline;
	margin:0px 50px 0px 50px;
	height:25px;
	padding:5px;
}
